body {
  background-color: lightblue;
}

h1 {
  color: black;
  font-size: 40px;
}
h2 {
  color: darkgreen;
  font-size: 30px;
}
h3 {
  color: darkgreen;
  font-size: 30px;
}
h4 {
  color: darkgreen;
  font-size: 30px;
}
p {
  color: orangered;
  font-size: 18px;
}
